<?xml version="1.0" encoding="UTF-8"?>
<div class="panel apply-panel" style="min-width:850px;height: 480px;" th:id="${viewId}">
  <form class="form-horizontal ajaxpost" data-widget="validator" id="entityForm" method="post" th:action="${requestUrl}"  >
    <div class="table-dialog">
      <div class="ui-dialog-title" th:text="'导入数据到从表['+${metaEntity.displayName}+']'"></div>
      <div class="ui-dialog-content container-fluid">
        <div class="row-fluid">
           <table class="form-table form-bordered col2-fluid">
                <tr>
                  <th th:text="#{tool.import.dataFile}+':'"></th>
                  <td>
	                 <div>
						<div data-widget="upload" data-useFileserver="true" data-maxSize="10" data-fileSuffix="*" class="input-prepend input-append" style="line-height: 25px;height: 25px;">
							<div class="input-append">
							  	<div class="add-on progress progress-info progress-striped" style="width: 456px;margin-bottom:0px;float:left;">
								  <div class="bar" style="width: 0%;height:18px;line-height: 18px;position:relative;"></div>
								</div>
								<span class="uploadfile add-on">
									<i class="icon-plus-sign"></i>
									<span th:text="#{common.browse}"></span>
								</span>
							</div>
							<input type="hidden" class="value-input" name="filePath" id="filePath" />
						</div>
						<div>
							<i class='icon-info-sign'></i> 
							<span th:text="#{tool.import.dataFileDesc}"></span>
							<a  th:if="${existTemplate}" class="download-template">模板下载</a>
						</div>
					</div>
                  </td>
                </tr>
              </table>
        </div>
        <div class="row-fluid" id="mapping" style="height:400px;overflow: auto;">
        	<div class="alert alert-info" style="margin: 10px">
					<a class="close" data-dismiss="alert"> </a>
					<h4 class="alert-heading" style="margin-bottom: 10px">
					<span th:text="'为向从表['+${metaEntity.displayName}+']导入数据做准备'"></span></h4>
					<p>第一步：上传的excel文件，生成数据记录，不会保存到数据库</p>
					<p>第二步：在界面添加数据记录，提交审批或审批时保存从表数据，如果不提交，从表数据不会保存</p>
			</div>
			<div class="alert alert-block" style="margin: 10px">
				<i class='icon-info-sign'></i> 
				<span>目前只支持简单字段导入，导入数据标题必须和从表标题中文名称保持一致.</span>
			</div>
        </div>
      </div>
      <div class="ui-dialog-buttonset">
        <button class="btn closeBtn" name="close" type="button" th:text="#{common.cancel}">
					</button>
      </div>
    </div>
  </form>
  <script th:inline="javascript" type="text/javascript">
//<![CDATA[ 
    $(function(){
		var viewId=/*[[${viewId}]]*/;
		var context = "#" + viewId;
		var entityName=/*[[${metaEntity.name}]]*/;
		var container = $('#' + viewId);
		Page.init(container);
		$("#filePath",context).bind("FileUploaded",function(event,up, file,resp,container){
			var url= Global.contextPath+'/entities/'+entityName+'/transformExcelToMap?filePath='+resp.filePath;
			$.restPost(url,{},function(resp){
				if(resp){
					container.dialogClose(resp);
				}
			});
		});
    });
//]]>
</script>
</div>