<div class="wysiwyg-toolbar btn-toolbar  left">
<span class="btn-group i-conf-style"> 
	<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">样式 <span class="caret"></span></a>
	<ul class="dropdown-menu">
	  <li class="active"><a href="javascript://" ng-click="labelClass('label-info')">蓝色</a></li>
	  <li class=""><a href="javascript://" ng-click="labelClass('label-success')">绿色</a></li>
	  <li class=""><a href="javascript://" ng-click="labelClass('label-warning')">橙色</a></li>
	  <li class=""><a href="javascript://" ng-click="labelClass('label-important')">红色</a></li>
	  <li class=""><a href="javascript://" ng-click="labelClass('label-inverse')">黑色</a></li>
	</ul>
</span>
</div>
