.btn {
background-color:#e5e5e5;
background-image:none;
border:0;
font-family:"Segoe UI", Helvetica, Arial, sans-serif;
font-size:14px;
color:#333;
cursor:pointer;
outline:none;
padding:7px 14px;
}

.btn:hover,.btn:focus,.btn:active,.btn.active,.btn[disabled],.btn.disabled {
color:#333;
background-color:#d8d8d8;
}

.btn.red-stripe {
border-left:3px solid #d84a38;
}

.btn.blue-stripe {
border-left:3px solid #4d90fe;
}

.btn.purple-stripe {
border-left:3px solid #852b99;
}

.btn.green-stripe {
border-left:3px solid #35aa47;
}

.btn.yellow-stripe {
border-left:3px solid #ffb848;
}

.btn.red {
color:#FFF;
background-color:#d84a38;
}

.btn-group .btn.red.dropdown-toggle {
background-color:#d84a38!important;
}

.btn.transparent {
color:#000;
background-color:transparent;
}

.btn.blue {
color:#FFF;
background-color:#4d90fe;
}

.btn-group .btn.blue.dropdown-toggle {
background-color:#4d90fe!important;
}

.btn.green {
color:#FFF;
background-color:#35aa47;
}

.btn-group .btn.green.dropdown-toggle {
background-color:#35aa47!important;
}

.btn.purple {
color:#FFF;
background-color:#852b99;
}

.btn-group .btn.purple.dropdown-toggle {
background-color:#852b99!important;
}

.btn.yellow {
color:#FFF;
background-color:#ffb848;
}

.btn-group .btn.yellow.dropdown-toggle {
background-color:#ffb848!important;
}

.btn.black {
color:#FFF;
background-color:#555;
}

.btn-group .btn.black.dropdown-toggle {
background-color:#555!important;
}

.mini {
height:13px;
font-size:11px!important;
line-height:13px;
padding:4px 10px;
}

.big {
height:38px;
font-size:18px;
line-height:38px;
padding:8px 16px;
}

button.btn.big,input[type=button].btn.big,input[type=submit].btn.big {
height:54px;
padding-top:9px;
padding-bottom:8px;
}

button.btn.mini,input[type=button].btn.mini,input[type=submit].btn.mini {
height:21px;
padding-top:3px;
padding-bottom:3px;
}

a.btn.big.btn-block {
height:54px;
}

[class^=m-icon-] {
display:inline-block;
width:14px;
height:14px;
margin-top:4px;
line-height:14px;
vertical-align:top;
background-image:url(../img/syncfusion-icons.png);
background-position:0 0;
background-repeat:no-repeat;
}

[class^=m-icon-big-] {
display:inline-block;
width:30px;
height:30px;
vertical-align:top;
background-image:url(../img/syncfusion-icons.png);
background-position:0 0;
background-repeat:no-repeat;
margin:6px;
}

.m-icon-white {
background-image:url(../img/syncfusion-icons-white.png);
}

.btn.icn-only {
min-width:14px;
}

.btn.bigicn-only {
min-width:34px;
}

.m-icon-swapright {
background-position:-27px -10px;
}

.m-icon-swapdown {
background-position:-68px -10px;
}

.m-icon-swapleft {
background-position:-8px -10px;
}

.m-icon-swapup {
background-position:-46px -10px;
}

.m-icon-big-swapright {
background-position:-42px -28px;
}

.m-icon-big-swapdown {
background-position:-115px -28px;
}

.m-icon-big-swapleft {
background-position:-6px -28px;
}

.m-icon-big-swapup {
background-position:-78px -28px;
}

.btn > .halflings-icon {
margin-top:2px;
margin-right:2px;
}

.btn.mini > .halflings-icon {
margin-top:-1px;
margin-right:2px;
}

.btn.icn-only > .halflings-icon {
margin-right:0!important;
}

.popover {
padding:0!important;
}

.popover .popover-title {
margin:0!important;
}

.info .popover .popover-title,.popover.info .popover-title,.info .popover .popover-content,.popover.info .popover-content {
color:#27a9e3;
}

.success .popover .popover-title,.popover.success .popover-title,.success .popover .popover-content,.popover.success .popover-content {
color:#468847;
}

.error .popover .popover-title,.popover.error .popover-title,.error .popover .popover-content,.popover.error .popover-content {
color:#B94A48;
}

.warning .popover .popover-title,.popover.warning .popover-title,.warning .popover .popover-content,.popover.warning .popover-content {
color:#C09853;
}

.dropdown-backdrop {
position:static;
}

.dropdown-menu {
position:absolute;
top:100%;
left:0;
z-index:1000;
display:none;
float:left;
list-style:none;
font-size:12px;
font-family:"Segoe UI",Helvetica, Arial, sans-serif;
border:1px solid #ddd;
margin:0;
padding:0;
}

.dropdown:hover .caret,.open.dropdown .caret {
opacity:1;
filter:alpha(opacity=100);
}

.dropdown-menu.bottom-up {
top:auto;
bottom:100%;
margin-bottom:2px;
}

.dropdown-menu li > a {
color:#333;
text-decoration:none;
display:block;
clear:both;
font-weight:400;
line-height:18px;
white-space:nowrap;
padding:6px 0 6px 13px;
}

.dropdown-menu li > a i {
margin-right:5px;
}

.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {
text-decoration:none;
background-image:none;
background-color:#eee;
color:#333;

}

.dropdown.open .dropdown-toggle {
color:#08c;
background:rgba(0,0,0,0.3);
}

.dropdown-menu > li > a > .badge {
position:absolute;
margin-top:1px;
right:3px;
display:inline;
font-size:11px;
height:auto;
font-weight:300;
padding:2px 6px;
}

.dropdown-menu > li > a > .badge.badge-roundless {
padding:1px 6px 2px;
}

.ie8 .dropdown-menu > li > a > .badge,.ie9 .dropdown-menu > li > a > .badge,.ie10 .dropdown-menu > li > a > .badge {
padding-top:1px;
}

label.m-wrap,input.m-wrap,button.m-wrap,select.m-wrap,textarea.m-wrap {
font-size:14px;
font-weight:400;
line-height:20px;
}

input.m-wrap,button.m-wrap,select.m-wrap,textarea.m-wrap {
font-family:"Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label.m-wrap {
display:block;
margin-bottom:5px;
}

.uneditable-input,textarea.m-wrap,input[type=text].m-wrap,input[type=password].m-wrap,input[type=datetime].m-wrap,input[type=datetime-local].m-wrap,input[type=date].m-wrap,input[type=month].m-wrap,input[type=time].m-wrap,input[type=week].m-wrap,input[type=number].m-wrap,input[type=email].m-wrap,input[type=url].m-wrap,input[type=search].m-wrap,input[type=tel].m-wrap,input[type=color].m-wrap {
color:#333;
outline:0;
height:20px;
line-height:20px;
font-size:14px;
font-weight:400;
vertical-align:top;
background-color:#fff;
background-image:none!important;
background:transparent;
padding:6px!important;
}

input.m-wrap {
border:1px solid #e5e5e5;
}

textarea.m-wrap {
height:auto;
}

.uneditable-input.focus,textarea.m-wrap:focus,select.m-wrap:focus,input[type=text].m-wrap:focus,input[type=password].m-wrap:focus,input[type=datetime].m-wrap:focus,input[type=datetime-local].m-wrap:focus,input[type=date].m-wrap:focus,input[type=month].m-wrap:focus,input[type=time].m-wrap:focus,input[type=week].m-wrap:focus,input[type=number].m-wrap:focus,input[type=email].m-wrap:focus,input[type=url].m-wrap:focus,input[type=search].m-wrap:focus,input[type=tel].m-wrap:focus,input[type=color].m-wrap:focus,.m-uneditable-input:focus {
outline:0!important;
border-color:#999;
}

input[disabled],select[disabled],textarea[disabled] {
cursor:not-allowed;
background-color:#F4F4F4!important;
}

input[readonly],select[readonly],textarea[readonly] {
cursor:not-allowed;
background-color:#F9F9F9!important;
}

input[type=radio][disabled],input[type=checkbox][disabled],input[type=radio][readonly],input[type=checkbox][readonly] {
background-color:transparent;
}

input[type=radio].m-wrap,input[type=checkbox].m-wrap {
line-height:normal;
cursor:pointer;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin:0;
}

select.m-wrap,input[type=file].m-wrap {
height:34px!important;
margin-top:4px;
line-height:30px;
}

select.m-wrap {
width:220px;
background-color:#fff;
background-image:none!important;
border:1px solid #e5e5e5;
outline:none;
}

select[multiple].m-wrap,select[size].m-wrap {
height:auto!important;
}

select.m-wrap:focus,input[type=file].m-wrap:focus,input[type=radio].m-wrap:focus,input[type=checkbox].m-wrap:focus {
outline:5px auto 0;
outline-offset:-2px;
}

input[class*=span].m-wrap {
float:none;
height:34px!important;
margin-left:0;
}

select[class*=span].m-wrap,textarea[class*=span].m-wrap {
float:none;
margin-left:0;
}

.btn-toolbar > .btn-group > .btn:hover,.btn-toolbar > .btn-group > .btn:focus,.btn-toolbar > .btn-group > .btn:active,.btn-toolbar > .btn-group > .btn.active {
z-index:0!important;
}

.input-prepend,.input-append {
border:0;
display:inline-block;
}

.input-append .add-on,.input-prepend .add-on {
display:inline-block;
width:auto;
min-width:16px;
font-size:14px;
font-weight:400;
text-align:center;
background-color:#e5e5e5;
border:1px solid #e5e5e5;
padding:4px 5px;
}

.input-append .add-on > .halflings-icon,.input-prepend .add-on > i,.input-prepend .add-on > [class^=icon-] {
margin-top:5px;
margin-left:3px;
}

.input-append .add-on > .halflings-icon
.input-append .add-on > i,.input-append .add-on > [class^=icon-] {
margin-top:5px;
margin-left:0;
}

.input-append .m-wrap,.input-append .m-wrap:focus {
border-right:0!important;
margin-right:1px;
}

.input-prepend input,.input-prepend input:focus {
border-left:0!important;
margin-left:1px;
}

.input-append input[class*=span],.input-prepend input[class*=span] {
display:inline-block!important;
}

.m-wrap.xsmall {
width:50px!important;
}

.m-wrap.small {
width:120px!important;
}

.m-wrap.medium {
width:206px!important;
}

.m-wrap.large {
width:320px!important;
}

.m-wrap.huge {
width:480px!important;
font-size:24px!important;
height:36px!important;
line-height:36px!important;
padding:22px 8px!important;
}

select.m-wrap.xsmall {
width:64px!important;
}

select.m-wrap.small {
width:134px!important;
}

select.m-wrap.medium {
width:220px!important;
}

select.m-wrap.large {
width:334px!important;
}

input[type=text].spinner,input[type=password].spinner,input[type=datetime].spinner,input[type=datetime-local].spinner,input[type=date].spinner,input[type=month].spinner,input[type=time].spinner,input[type=week].spinner,input[type=number].spinner,input[type=email].spinner,input[type=url].spinner,input[type=search].spinner,input[type=tel].spinner,input[type=color].spinner {
background-image:url(../img/input-spinner.gif)!important;
background-repeat:no-repeat;
background-position:right 8px;
}

.label-success,.badge-success {
background-color:#3cc051;
background-image:none!important;
}

.label-warning,.badge-warning {
background-color:#fcb322;
background-image:none!important;
}

.label-important,.badge-important {
background-color:#ed4e2a;
background-image:none!important;
}

.label-info,.badge-info {
background-color:#57b5e3;
background-image:none!important;
}

.label-mini {
font-size:11px;
font-weight:300;
}

.label-default {
background-color:#999!important;
}

.progress {
border:1px solid #f1f1f1;
background-image:none!important;
}

.progress-success .bar,.progress-danger .bar,.progress-info .bar,.progress-warning .bar {
background-image:none!important;
}

.modal-header {
border-bottom:1px solid #EFEFEF;
}

.modal-footer {
border-top:0;
}

.modal {
z-index:10050!important;
}

.modal-backdrop {
z-index:10049!important;
}

.modal-backdrop,.modal-backdrop.fade.in {
background-color:#333!important;
}

.modal-open .header .container-fluid {
padding-right:37px;
}

a:focus,select:focus {
outline:none!important;
}

.btn.red:hover,.btn.red:focus,.btn.red:active,.btn.red.active,.btn.red[disabled],.btn.red.disabled,.btn-group .red.blue:hover,.btn-group .red.blue:focus,.btn-group .red.blue:active,.btn-group .red.blue.active,.btn-group .red.blue.disabled,.btn-group .red.blue[disabled] {
background-color:#bb2413;
color:#fff;
}

.btn.blue:hover,.btn.blue:focus,.btn.blue:active,.btn.blue.active,.btn.blue[disabled],.btn.blue.disabled,.btn-group .btn.blue:hover,.btn-group .btn.blue:focus,.btn-group .btn.blue:active,.btn-group .btn.blue.active,.btn-group .btn.blue.disabled,.btn-group .btn.blue[disabled] {
background-color:#0362fd;
color:#fff;
}

.btn.green:hover,.btn.green:focus,.btn.green:active,.btn.green.active,.btn.green.disabled,.btn.green[disabled],.btn-group .btn.green:hover,.btn-group .btn.green:focus,.btn-group .btn.green:active,.btn-group .btn.green.active,.btn-group .btn.green.disabled,.btn-group .btn.green[disabled] {
background-color:#1d943b;
color:#fff;
}

.btn.purple:hover,.btn.purple:focus,.btn.purple:active,.btn.purple.active,.btn.purple.disabled,.btn.purple[disabled],.btn-group .btn.purple:hover,.btn-group .btn.purple:focus,.btn-group .btn.purple:active,.btn-group .btn.purple.active,.btn-group .btn.purple.disabled,.btn-group .btn.purple[disabled] {
background-color:#6d1b81;
color:#fff;
}

.btn.yellow:hover,.btn.yellow:focus,.btn.yellow:active,.btn.yellow.active,.btn.yellow.disabled,.btn.yellow[disabled],.btn-group .btn.yellow:hover,.btn-group .btn.yellow:focus,.btn-group .btn.yellow:active,.btn-group .btn.yellow.active,.btn-group .btn.yellow.disabled,.btn-group .btn.yellow[disabled] {
background-color:#eca22e;
color:#fff;
}

.btn.black:hover,.btn.black:focus,.btn.black:active,.btn.black.active,.btn.black.disabled,.btn.black[disabled],.btn-group .btn.black:hover,.btn-group .btn.black:focus,.btn-group .btn.black:active,.btn-group .btn.black.active,.btn-group .btn.black.disabled,.btn-group .btn.black[disabled] {
background-color:#222;
color:#fff;
}

.label,.badge,.modal-header h3 {
font-weight:300;
}