<div th:id="${viewId}" class="panel apply-panel" style="min-width:850px;">
<form id="createViewBaseForm" th:object="${layout}" data-widget="validator" th:action="${requestUrl}" method="post" class="form-horizontal">
	<div class="table-dialog">
		<div class="ui-dialog-title" th:switch="${action}">
			<span th:case="'edit'" th:text="#{common.edit}+#{metadata.view}"></span>
			<span th:case="*" th:text="#{common.create}+#{metadata.view}"></span>
		</div>
	
		<div class="ui-dialog-content container-fluid ">
			<table class="form-table form-bordered col4-fluid">
				<tbody>
					<tr>
						<th style="width:80px;"><label><meta:display-name field="metauitemplate.displayName"/>:</label></th>
						<td>
							<input meta:field="id" type="hidden" />
							<input meta:field="entityName" type="hidden" />
							<input meta:field="displayName"/>
						</td>
						<th><label><meta:display-name field="metauitemplate.name"/>:</label></th>
						<td>
							<input meta:field="name"  th:disabled="${action}=='edit'" class="input-large"  data-validator="required,length[1,36]"/>
						</td>
					</tr>
					<tr>
						<th><label><meta:display-name field="metauitemplate.url"/>:</label></th>
						<td colspan="3"><input style="width: 95%;" meta:field="url"
							disabled="true" class="input-large"
							data-validator="required,length[1,350]" /></td>
					</tr>
					<tr>
						<th><label><meta:display-name field="metauitemplate.dataSourceType"/>:</label></th>
						<td colspan="3"><input meta:field="dataSourceType" th:disabled="${action}=='edit'" /></td>
					</tr>
					<tr th:classappend="*{dataSourceType}=='sql'?'':'hide'" id="tr_sql">
						<th><label><meta:display-name field="metauitemplate.sql"/>:</label></th>
						<td colspan="3">
							<input meta:field="sql" class="input-large" style="height:120px;width:95%" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ui-dialog-buttonset" >
			<button  type="button" name="save"
					class="btn purple saveEntityViewBase" ><span th:text="#{common.save}"></span>
					<i class="m-icon-swapright m-icon-white"></i>
			</button>
			<button type="button" class="btn closeBtn" th:text="#{common.cancel}"></button>
		</div>
	</div>
	</form>
	<script th:inline="javascript">
	//<![CDATA[
	$(function(){
		var context = /*[['#'+${viewId}]]*/;
		var urlBasePath=/*[[${#httpServletRequest.getContextPath()}]]*/;
		var action = /*[[${action}]]*/;
		var entityName = /*[[${entityName}]]*/;
		Page.init(context);
		if(action != "edit"){
			$("[name='displayName']", context).keyup(function(){
				var _name=$("[name='name']", context).val();
				var displayName=$(this).toPinyin().replace(/\s*/g,'');
				if((displayName||"").indexOf(_name)==0){
					$("[name='name']", context).val(displayName);
					$("[name='url']", context).val("~/entities/"+entityName.toLowerCase()+"/list?view="+displayName);
				}
			});
			$("[name='name']", context).keyup(function(){
				var name=$(this).val();
				$("[name='url']", context).val("~/entities/"+entityName.toLowerCase()+"/list?view="+name);
			});
		}
		$("[name='dataSourceType']",context).change(function(){
			if($(this).val()=="sql"){
				$("#tr_sql",context).removeClass("hide");
			}else{
				$("#tr_sql",context).addClass("hide");
			}			
		});
		
		$(".saveEntityViewBase", context).click(function(){
			var valInfo = $.validation.validate("#createViewBaseForm") ;
			if( valInfo.isError ) {
				return false;
			}
			var btnSelf=$(this);
			var url=$("#createViewBaseForm", context).attr("action");
			var data=$("#createViewBaseForm", context).toJson();
			if(action=="edit"||action=="EDIT"){
				$(context).dialogClose(data);
				return false;
			}
			jQuery.restPost(url,data,function(response){
				if(response){
					var id=response.id;
					jQuery.dialogReturnValue(response);
					$(context).dialogClose();
					if(action=="create"){
						var customLayoutViewUrl=urlBasePath+"/metadata/uitemplate/view_custom?action=edit&layout=view&entity="+entityName+"&id="+encodeURIComponent(id);
						$.openLink(customLayoutViewUrl,{showType:'pop-up'});
					}
				}
			},{
				error:function(xhr, textStatus, errorThrown){
					CommonUtil.showError("<div style='height:600px;overflow: scroll;'>"+xhr.responseText+"</div>");
				},
				beforeSend:function(xhr){
					CommonUtil.showLoading(context,i18n.t("common.submiting"));
					btnSelf.attr("disabled","disabled");
					btnSelf.addClass("disabled");
				},
				complete:function(xhr,textStatus){
					CommonUtil.hiddenLoading();
					btnSelf.removeAttr("disabled");
					btnSelf.removeClass("disabled");
				}
			});
		});
	
	});
	//]]>	
	</script>

</div>