<div th:id="${viewId}" class="panel apply-panel " style="min-width: 950px;min-width: 950px;" >
	<form id="entityForm"  th:action="${requestUrl}" method="post" data-widget="validator" class="form-horizontal ajaxpost ">
		<div class="table-dialog">
			<div class="ui-dialog-title" >
				<span>管理员手工分配用户</span>
			</div>
			<div class="ui-dialog-content container-fluid ">
				<table class="form-table form-bordered col4-fluid">
					<tbody>
					<tr>
						<th><label>处理人:</label></th>
						<td>
							<span class="inputpro-img input-append"> 
								<input type="text" id="actor_text" name="actor_text" />
								<span class="add-on btn select-actor" > <i class=" icon-search"></i>
								</span>
							</span> 
						</td>						
					</tr>
					<tr>
						<th><label>转办原因:</label></th>
						<td>
							<textarea style="width:95%; height:60px" row="5" 
							data-validator="required,length[0,2000]" id="remarks" 
							name="remarks" ></textarea>			
						</td>						
					</tr>
				</tbody>
				</table>
			</div>
			<div class="ui-dialog-buttonset">
				<button type="button" name="save" class="btn purple btnOk"><span th:text="#{common.save}"></span>
					<i class="m-icon-swapright m-icon-white"></i>
				</button>
				<button type="button" name="close" class="btn closeBtn" th:text="#{common.cancel}"></button>
			</div>
		</div>
	</form>
	
<script th:inline="javascript">
	/*<![CDATA[*/	
		$(function(){
			var viewId=/*[[${viewId}]]*/;
			var context = $('#' + viewId);
			var cActors=[];
			Page.init(context);
			
			$(context).on("click",".select-actor",function(e){
				var input=$(this).prev("input");
				var selectUserUrl=Global.contextPath+"/entities/user/treeList/uamOrganization?view=select_tree_list&refField=orgId&mode=multi";
				$.openLink(selectUserUrl,function(users){
					if(users){
						cActors=[];
						var usrNames="";
						for(var i=0;i<users.length;++i){
							var actor={id:users[i].id,name:users[i].text||users[i].name,type:"user"};
							cActors.push(actor);
							usrNames+=actor.name+"  ";
						}	
						input.val(usrNames);
					}
				});
			});
			$(".btnOk",context).click(function(e){
				var actors=$("[name='actor_text']",context).val();
				if(!actors){
					$.messageBox.info({message:"请选择处理人"});
					return;
				}
				var reVal={
						candidates:cActors,
						userComment:$("#remarks",context).val()					
					}
				$(context).dialogClose(reVal);
			});
			
		});
	/*]]>*/
	</script></div>