<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head th:substituteby="'/themes/'+${theme}+'/modules/common/statics'::head">
</head>
<style type="text/css">
     /* 去掉后台系统的滚动条 */
     html
     {
            overflow: hidden;
     }
	.footer-tabs .ui-widget-header .ui-state-hover, .footer-tabs .ui-widget-header .ui-state-active{
		background:inherit!important;
	}
</style>

<body class="page-header-fixed page-footer-fixed  page-sidebar-fixed">

    <div class="header navbar navbar-inverse navbar-fixed-top" style="z-index: 100;">
        <div class="navbar-inner">
            <div class="container-fluid">
               <a class="brand" th:href="@{/}" style="width:250px" >
                   <img th:src="${themes.statics('images/cloud.jpg')}" title="品高协同办公平台" alt="品高协同办公平台"  style="height:27px;"/>
                   <span class="logo-text" >品高协同办公平台</span>
                </a>                
                
                <a href="javascript://;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <img  th:src="${themes.css('img/menu-toggler.png')}"    src="assets/img/menu-toggler.png" alt="" />
                </a>

                <ul class="nav pull-right">
                    <li class="dropdown user">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"  data-hover="dropdown" data-close-others="true">
	                        <img alt="" th:if="${config['Uam.Root.Url']!=null}"  th:src="${config['Uam.Root.Url']+'/ui/download?userId='+user.id}"  
	                       		th:attr="onerror=${'javascript:this.src='''+themes.css('img/avatar1_small.jpg')+''''}"  
	                        	src="assets/img/avatar1_small.jpg" style="width:29px;height:29px;" />
	                        <img alt="" th:unless="${config['Uam.Root.Url']!=null}" th:src="${themes.css('img/avatar1_small.jpg')}" style="width:29px;height:29px;" />
                        	<span class="username"   th:text="${user.name}"></span>
							<i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                        	<li><a href="javascript://" class="changpwd"><i class="icon-lock"></i> <span th:text="#{master.changePassward}"></span></a></li> 
                            <li class="divider"></li>
                            <li><a th:href="@{/logout}" ><i class="icon-key"></i>&nbsp;注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-container" >
        
        <div class="page-sidebar nav-collapse collapse">
            <ul id="page-menus-container" class="page-sidebar-menu"  th:include="'/themes/'+${theme}+'/modules/common/root_menu'::rootmenu"></ul>
        </div>
        
        <div class="page-content">
            <div  class="menu-tab-container"  style="overflow-y:auto;overflow-x:hidden;">
            	<div id="default-content" class="default-content-tab" th:if="${contentPage}">
                      <div th:substituteby="${contentPage}">
                      </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="footer" >
        <div class="footer-inner">
            2013 &copy; Bingosoft.
        </div>
        <div class="footer-tabs"  style="width:100%;">
        	<div class="ui-tabs fix-height" id="tab-container" style="padding-right: 0px;">
            </div>
        </div>
        <div class="footer-tools">
            <span class="go-top"><i class="icon-angle-up"></i></span>
        </div>
    </div>
    <script th:substituteby="'/themes/'+${theme}+'/modules/common/statics'::scripts"></script>

	      <script id="navigate-menu-template"  type="text/x-jsrender">
				<li>
					<a href="#"  class=" menu-item" data-id="{{:id}}"  menu-url="{{:dataUrl}}">
						{{if !icon.startWith('icon-')}}
						<i class="menu-icon"  th:style="'background-image:url({{:icon}})!important'"> </i>
						{{else}}
						<i class="menu-icon {{:icon}}"> </i>
						{{/if}}
						<span class="title">{{:text}}</span>
						{{if childNodes}}
						<span class="arrow"  ></span>
						{{/if}}
					</a>
				
					{{if childNodes}}
					<ul class="sub-menu">
						{{for childNodes}}
							<li>
								<a href="#"  class=" menu-item" data-id="{{:id}}"  menu-url="{{:dataUrl}}">
									{{if !icon.startWith('icon-')}}
									<i class="menu-icon"  th:style="'background-image:url({{:icon}})!important'"> </i>
									{{else}}
									<i class="menu-icon {{:icon}}"> </i>
									{{/if}}
									<span class="title">{{:text}}</span>
									{{if childNodes}}
									<span class="arrow"  ></span>
									{{/if}}
								</a>
							</li>
						{{/for}}
					</ul>
					{{/if}}
				</li>
	</script>
	
	<script id="navigate-search-template"   type="text/x-jsrender">
			{{if type=='entityNode'}}
			<li class="entitySearchItem searchItem" data-id="{{:id}}">
				<a href="javascript://">
					{{if !icon.startWith('icon-')}}
					<img th:src="'{{:icon}}'" style="display: inline;width:16px;height:16px;"/>
					{{else}}
					<i class="{{:icon}}"> </i>
					{{/if}}
					<span>{{:text}}</span>
				</a>
			</li>
			{{else}}
			<li class="navMenuSearchItem searchItem" data-id="{{:id}}">
				<a href="javascript://">
					{{if !icon.startWith('icon-')}}
					<img th:src="'{{:icon}}'" style="display: inline;width:16px;height:16px;"/>
					{{else}}
					<i class="{{:icon}}"> </i>
					{{/if}}
					<span>{{:text}}</span>
				</a>
			</li>
			{{/if}}
	</script>
	
	<script  th:inline="javascript">
	var $siteMap = /*[[${siteMap.menus}]]*/ ; 
	var $user      =  /*[[${user}]]*/ ; 
	</script>

    <script th:src="${contextPath+ '/themes/' + theme + '/statics/skins/'+skin+'/module/common/master.js'}" type="text/javascript"></script>
</body>
</html>
