<div th:id="${viewId}" class="panel apply-panel"
	style="height:150px;">
	<form id="entityForm" th:object="${entity}" th:action="${requestUrl}"
		method="post" data-widget="validator"
		class="form-horizontal ajaxpost">
		<input type="hidden" meta:field="*{id}"/>
		<div class="table-dialog">
			<div class="ui-dialog-title" th:switch="${action}">
				<span th:case="'EDIT'"
					th:text="#{common.edit}+${metaEntity.displayName}"> </span> <span
					th:case="'CREATE'"
					th:text="#{common.create}+${metaEntity.displayName}"> </span> <span
					th:case="'VIEW'" th:text="#{common.view}+${metaEntity.displayName}">
				</span> <span th:case="*" th:text="#{common.notExistAction}+${action}">
				</span>
			</div>
			<div class="ui-dialog-content container-fluid">
				<table class="table form-table form-bordered">
					<tbody>
						<tr>
							<th style="width:40%;"><label style="padding-left: 10px;">设置用户:</label></th>
							<td ><input meta:field="userId"/></td>
						</tr>
						<tr>
							<th><label style="padding-left: 20px;">充当组织:</label></th>
							<td ><input meta:field="orgId"/></td>
						</tr>
						<tr>
							<th><label style="padding-left: 30px;">的角色:</label></th>
							<td ><input meta:field="roleId"/></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui-dialog-buttonset">
				<button th:if="${action} != 'VIEW'" type="submit" name="save"
					class="btn purple">
					<span th:text="#{common.save}"> </span> <i
						class="m-icon-swapright m-icon-white"> </i>
				</button>
				<button type="button" name="close" class="btn closeBtn"
					th:text="(${action} != 'VIEW')?#{common.cancel} : #{common.close}">
				</button>
			</div>
		</div>
	</form>
	<script type="text/javascript" th:inline="javascript">
	$(function(){
		var viewId=/*[[${viewId}]]*/;
		var container = $('#' + viewId);
		Page.init(container);
	});
</script>
</div>
